.blocoCard {
    background-color: #F7F4F4;
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    justify-content: space-between;
    transition: all 0.5s ease;
    margin-bottom: 3%;
    border-radius: 10px;
}

.blocoCard:hover {
    box-shadow: 0em 0.4em 1em gainsboro;
    
}

.blocoTextos {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 50vh;
}

.blocoTextos h2 {
    padding: 0.5em;
    text-align: center;
}

.blocoTextos p {
    padding-bottom: 1.1em;
    padding-right: 1.1em;
    padding-left: 1.1em;
    text-align: justify;
}

.blocoCard2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.imagemVia {
width: 20vw;
height: 30vh;
border-radius: 10px;
}

.botaoCurtida {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    color: rgb(236, 9, 9);
    background-color: #F7F4F4;
    font-size: 3vw;
    padding: 1%;
    border-style: none;
    cursor: pointer;
}
.botaoCarrinho {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    color: rgb(10, 10, 10);
    background-color: #F7F4F4;
    font-size: 3vw;
    padding: 1%;
    border-style: none;
    cursor: pointer;
}

.explorar {
    color: rgb(126, 126, 249);
    padding-left: 1.1em;
    width: 20vw;
    cursor: pointer;
    text-decoration: none;
}

.valor {
    background-color: #F0ECEC;
    width: 19.3vw;
    padding: 0.3vw;
    border-radius: 10px;
}




/* --------------------------------------------------------------------- */
@media  (max-width: 760px) {

    .blocoCard{
        width: 30%;
        max-height: 60%;
        padding: 4%;
        }

    .blocoTextos{
        font-size: 2.5vw;
    }

    .imagemVia{

width: auto;      
  height: auto;

    }
    

}